
/* CSS for Shortcodes style */
body .last, body .widget-last {
    border-right: 0 none;
    margin-right: 0;
}
/* section */
.box-sections {
    float: left;
    line-height: 1.81em;
    margin-top: 20px;
}
.box-sections, .col {
    display: inline;
    float: left;
    margin-right: 2.0833%;
}               
.box-sections {
    margin-top: 10px;
}
.box-sections, .one-fourth {
    float: left;
    margin-right: 3%;
    width: 22.75%;
}
.box-sections img.icon {
    float: left;
    margin-right: 10px;
}
.box-sections h1, .box-sections h2, .box-sections h3, .box-sections h4, .box-sections h5, .box-sections h6 {
    clear: none !important;
    margin-top: 0;
}
.box-sections h3 {
    font-size: 1.4em;
}
.box-sections h3, .box-sections h2, .box-sections-border h3, .box-sections-border h2 {
    margin-bottom: 20px !important;
}
.box-sections span, .box-sections-border span {
    color: #244455;
}
.box-sections p, .box-sections-border p {
    clear: both;
}
/* section_caption */
div.section-caption {
    margin: 20px 0 40px;
    width: 100%;
}
div.section-caption h5 {
    color: #636161;
    float: left;
    font-weight: normal;
    margin-top: 0;
    padding-right: 30px;
    text-transform: none;
    width: 120px;
}
div.section-caption .captions {
    float: left;
    width: 460px;
}
div.section-caption .caption {
    border-left: 1px solid #CFCFCF;
    margin-bottom: 45px;
    padding-left: 30px;
}
div.section-caption .caption h6 {
    font-style: italic;
    line-height: 18px;
    margin-top: 0;
}
/* box */
div.box {
    border-radius: 6px 6px 6px 6px;
    font-size: 108.3%;
    margin: 2px 0 15px;
    padding: 20px 15px 20px 65px;
}
/* success */
div.success-box {
    background: url("../images/icons/message/check.png") no-repeat scroll 15px center #EBFAB6;
    border: 1px solid #BBCC5B;
    color: #599847;
}
/* arrow */
div.arrow-box {
    background: url("../images/icons/message/arrow.png") no-repeat scroll 15px center #EBFAB6;
    border: 1px solid #BBCC5B;
    color: #599847;
}
/* alert */
div.alert-box {
    background: url("../images/icons/message/alert.png") no-repeat scroll 15px center #FBDD96;
    border: 1px solid #E5AF51;
    color: #CA6B1C;
}
/* error */
div.error-box {
    background: url("../images/icons/message/error.png") no-repeat scroll 15px center #FDD2D1;
    border: 1px solid #F6988F;
    color: #883333;
}
/* notice */
div.notice-box {
    background: url("../images/icons/message/note.png") no-repeat scroll 15px center #F9EBCA;
    border: 1px solid #E5B2AC;
    color: #9F6722;
}
/* info */
div.info-box {
    background: url("../images/icons/message/info.png") no-repeat scroll 15px center #E6EBF0;
    border: 1px solid #89BECD;
    color: #277DCE;
}
/* button */
body a.sc-button {
    display: inline-block;
    margin: 0 5px 19px 0;
}
body a.sc-button {
    background: url("images/overlay-button.png") repeat-x scroll 0 0 #222222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    overflow: visible;
    padding: 5px 15px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    width: auto;
}
.orange.sc-button {
    background-color: #FF5C00;
}
.orange.sc-button:hover {
    background-color: #D45500;
}
.blue.sc-button {
    background-color: #2DAEBF;
}
.blue.sc-button:hover {
    background-color: #007D9A;
}
.green.sc-button {
    background-color: #91BD09;
}
.green.sc-button:hover {
    background-color: #749A02;
}
.red.sc-button {
    background-color: #E33100;
}
.red.sc-button:hover {
    background-color: #872300;
}
.yellow.sc-button {
    background-color: #FFB515;
}
.yellow.sc-button:hover {
    background-color: #FC9200;
}
.magenta.sc-button {
    background-color: #A9014B;
}
.magenta.sc-button:hover {
    background-color: #630030;
}
.sc-button:hover {
    background-color: #111111;
}
.large.sc-button {
    font-size: 14px;
    padding: 8px 19px 9px;
}
.small.sc-button {
    font-size: 11px;
}
.sc-button:hover, .sc-button:active {
    text-decoration: none;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
a.btn {
	text-decoration: none;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #E6E6E6;
    background-position: 0 -50px;
    color: #333333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn-xlarge {
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    padding: 8px 20px;
}
.btn-large {
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    line-height: normal;
    padding: 9px 14px;
}
.btn-large [class^="icon-"] {
    margin-top: 1px;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 9px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-mini {
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
}
.btn-blue, .btn-blue:hover, .btn-orange, .btn-orange:hover, .btn-red, .btn-red:hover, .btn-green, .btn-green:hover, .btn-lightblue, .btn-lightblue:hover, .btn-black, .btn-black:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-blue.active, .btn-orange.active, .btn-red.active, .btn-green.active, .btn-lightblue.active, .btn-black.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-blue {
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-blue:hover, .btn-blue:active, .btn-blue.active, .btn-blue.disabled, .btn-blue[disabled] {
    background-color: #0055CC;
}
.btn-blue:active, .btn-blue.active {
}
.btn-orange {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(center top , #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled] {
    background-color: #F89406;
}
.btn-orange:active, .btn-orange.active {
}
.btn-red {
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-red:hover, .btn-red:active, .btn-red.active, .btn-red.disabled, .btn-red[disabled] {
    background-color: #BD362F;
}
.btn-red:active, .btn-red.active {
}
.btn-green {
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-green:hover, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {
    background-color: #51A351;
}
.btn-green:active, .btn-green.active {
}
.btn-lightblue {
    background-color: #49AFCD;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-lightblue:hover, .btn-lightblue:active, .btn-lightblue.active, .btn-lightblue.disabled, .btn-lightblue[disabled] {
    background-color: #2F96B4;
}
.btn-lightblue:active, .btn-lightblue.active {
}
.btn-black {
    background-color: #414141;
    background-image: -moz-linear-gradient(center top , #555555, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-black:hover, .btn-black:active, .btn-black.active, .btn-black.disabled, .btn-black[disabled] {
    background-color: #222222;
}
.btn-black:active, .btn-black.active {
}
button.btn, input.btn[type="submit"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
}
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {
}


/* === ICONS */
.the-icons { margin-top: 20px; margin-left: 40px !important; }
.the-icons li:before { font-size: 25px; }
.the-icons li { margin-bottom: 10px; }

/* ALL STYLE BUTTON */

/* end button */
/* button_icon */
.more-button {
    clear: right;
    display: inline-block;
    height: 39px;
    margin: 20px 0 0;
    position: relative;
    width: 151px;
}
.bg-button, a.more-button, .more-button a {
    background: url("../images/button-more.png") no-repeat scroll left top transparent;
}
a.more-button, .more-button a, .more-button input, .more-button button {
    border: 0 none;
    color: #696969;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 39px;
    line-height: 39px;
    padding: 0 40px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 101px;
}
a.more-button:hover, .more-button a:hover, .bg-button:hover {
    background-position: 0 -39px;
    color: #383838;
}
.more-button input, .more-button button {
    background-color: transparent;
    width: 151px;
}
.more-button .icon {
    background: none no-repeat scroll center center transparent;
    display: block;
    height: 39px;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}
.more-button .icon-img {
    background-position: 125px center;
    background-repeat: no-repeat;
}
a.more-button-rtl, .more-button-rtl a, .more-button-rtl input, .more-button-rtl button {
    background-image: url("../images/button-more-rtl.png");
    padding: 0 10px 0 40px;
}
.more-button-rtl .icon {
    left: 0;
    right: auto;
}
.more-button .arrow {
    background-image: url("../images/icons/for_button/arrow.png");
}
.more-button .arrow-left {
    background-image: url("../images/icons/for_button/arrow-left.png");
}
.more-button .remove {
    background-image: url("../images/icons/for_button/remove.png");
}
.more-button .calc {
    background-image: url("../images/icons/for_button/calc.png");
}
.more-button .offer {
    background-image: url("../images/icons/for_button/offer.png");
}
.more-button .gift {
    background-image: url("../images/icons/for_button/gift.png");
}
.more-button .cart {
    background-image: url("../images/icons/for_button/cart.png");
}
.more-button .download {
    background-image: url("../images/icons/for_button/download.png");
}
.more-button .tick {
    background-image: url("../images/icons/for_button/tick.png");
}
/* list_bullet */
ul.short {
    list-style-type: none !important;
    margin: 20px 0;
    padding: 0;
}
ul.short li {
    padding: 0 0 0 25px;
}
ul.star li {
    background: url("../images/icons/bullet/star.png") no-repeat scroll left center transparent;
}
ul.arrow li {
    background: url("../images/icons/bullet/arrow.png") no-repeat scroll left center transparent;
}
ul.check li {
    background: url("../images/icons/bullet/check.png") no-repeat scroll left center transparent;
}
ul.add li {
    background: url("../images/icons/bullet/add.png") no-repeat scroll left center transparent;
}
ul.info li {
    background: url("../images/icons/bullet/info.png") no-repeat scroll left center transparent;
}
/* one_fourth */

/* one_third */
.one-third {
    float: left;
    margin-right: 3%;
    width: 31.33%;
}
/* two_third */
.two-third {
    float: left;
    margin-right: 3%;
    width: 65.66%;
}
/* two_fourth */
.two-fourth {
    float: left;
    margin-right: 3%;
    width: 48.5%;
}
/* three_fourth */
.three-fourth {
    float: left;
    margin-right: 3%;
    width: 74.25%;
}
/* table */
.post table {
    font-size: 100%;
}
.short-table table{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin: 1em 0 30px;	
}
.short-table table th{
	padding: 20px 30px;
	border: none;
	border-bottom: none;
	border-left: none;
	
}
.short-table table td{
	padding: 20px 30px;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	border-left: none;
	
}
.short-table th {
    background: none repeat scroll 0 0 #e8eaeb;
    border-bottom: 1px solid #E0E0E0;
    border-top: none !important;
    color: #555555;
    text-shadow: #f6f7f7 0px 1px 1px;
    font-weight: bold;
    height: 60px;
    text-align: center;
    
}
.short-table td{
    color: #555555;
    text-align: center;
}
.short-table th.align-left, .short-table td.align-left{
    text-align: left;
}
tr:nth-child(2n+1) {
    background-color: #fafafa;
}
tr:nth-child(2n+0) {
    background-color: #f7f7f7;
}
td img {
    border: medium none;
    margin: 0;
    vertical-align: middle;
}
.short-table.red thead th {
    background: none repeat scroll 0 0 #C21200;
    color: #FFFFFF;
}
.short-table.red table {
    border: 1px solid #C21200;
}
.short-table.grey thead th {
    background: none repeat scroll 0 0 #4B4A4A;
    color: #FFFFFF;
}
.short-table.grey table {
    border: 1px solid #4B4A4A;
}
.short-table.blue thead th {
    background: none repeat scroll 0 0 #07558C;
    color: #FFFFFF;
}
.short-table.blue table {
    border: 1px solid #07558C;
}
/* tick [x] */
.yit-sc-tick {
    text-shadow: 0 0 1px #BBBBBB;
}
/* price */
.price-table {
    background: #FFFFFF;
    border: 1px solid #D2D0D0;
    margin: 0 0 20px;
    max-width: 280px;
}
.price-table .head {
    border-bottom: 1px solid #D2D0D0;
    height: 100px;
    text-align: center;
}
.price-table .head p {
    font-size: 13px;
    line-height: 4em;
    margin: 0 !important;
    padding: 0 !important;
}
.price-table .head h2.price {
    line-height: 0.4em;
    margin: 0 !important;
    padding: 0;
    text-align: center;
}
.price-table .body {
    padding: 20px 25px;
}
.price-table .body ul {
    list-style: none outside none;
    margin: 0 0 20px;
}
.price-table .body li {
    background: url("../images/icons/tick20.png") no-repeat scroll left center transparent;
    line-height: 20px;
    padding: 10px 0 10px 35px;
}
.price-table .body .more {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}
.price-table .body .more a {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #DBD8D8;
    color: #999999;
    display: inline-block;
    font-size: 110%;
    height: 16px;
    line-height: 16px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
.price-table .body .more a:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #605F5F;
    text-decoration: none;
}
.price-table .blue *, .price-table .red *, .price-table .grey *, .price-table .green *, .price-table .yellow * {
    color: #FFFFFF;
}
.price-table .grey {
    background: none repeat scroll 0 0 #4B4A4A;
}
.price-table .blue {
    background: none repeat scroll 0 0 #07558C;
}
.price-table .red {
    background: none repeat scroll 0 0 #C21200;
}
.price-table .green {
    background: none repeat scroll 0 0 #1D7406;
}
.price-table .yellow {
    background: none repeat scroll 0 0 #7B8904;
}
/* price_table */
.pricing_box  { border: 1px solid #ccc; float: left; text-align: center; margin-top: 17px; padding: 0 0 20px 0; margin-left:-1px; box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.5); background: #fff;}
.pricing_box.radius-left { -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px;}
.pricing_box.radius-right { -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px;}
.pricing_box .header  { /*text-shadow: 0 1px 1px #fff;*/ border-bottom: 1px solid #ccc; background: url('../images/price.bg.png') repeat; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-left-radius: 5px;}
.pricing_box .header { width: 100%; height: 68px; }
.pricing_box .header span { position: relative; top: 20px; font-size: 16px; font-weight: bold; line-height: 28px;}
.pricing_box .header span.info { position: relative; font-size: 12px; font-weight: normal; top: 2px; display: block; color: gray; } 
.pricing_box p { line-height: 28px;}
.pricing_box ul { list-style: none; margin: 0 0 15px 0!important; text-align: left;}

.cols-2 .pricing_box { width: 49.8%; margin-bottom:50px; }
.cols-3 .pricing_box  { width: 33%;  margin-bottom:50px;}
.cols-4 .pricing_box { width: 24.8%; font-size: 1em; }
.cols-5 .pricing_box { width: 19.8%; font-size: 0.9em;}

.pricing_box ul li { margin-top: 20px; margin-bottom: 20px; line-height: 1.5em; padding-left: 40px !important; padding-right: 20px; margin-left:0; list-style-type: none !important; padding-left: 20px; font-style: normal; font-weight: normal; color: gray;}
.pricing_box ul li:nth-child(odd) { background-color: #FFFFFF !important; }
.pricing_box ul li:nth-child(even) { background-color: #F9F9F9 !important; }
.pricing_box ul li { background: url('../images/price.yes.png') no-repeat scroll 20px 0px transparent !important; }
.pricing_box ul li.no { background: url('../images/price.no.png') no-repeat scroll 20px 0px transparent !important; }
.pricing_box ul li.yes { background: url('../images/price.yes.png') no-repeat scroll 20px 0px transparent !important; }
.pricing_box ul li.unlim { background: url('../images/price.unlim.png') no-repeat scroll 20px 0px transparent !important; }
.pricing_box ul li.single { background: url('../images/price.single.png') no-repeat scroll 20px 0px transparent !important; }

.pricing_box .header h3{ margin: 0; display: block; line-height: 68px; color: #585555;}
.pricing_box.large .header h3{ margin: 0; display: block; line-height: 88px; color: #FFFFFF;}
.pricing_box h3{ margin: 20px 0; display: block; color: #585555;}
.pricing_box h3 em{ font-size: 12px; font-weight: normal;}

.pricing_box p.button { height: 40px; background: url('../images/price.readmore.png') no-repeat left 0; float: none; box-shadow: none; }
.pricing_box p.button a { font-size: 14px; font-weight:normal; line-height: 40px; background: url('../images/price.readmore.png') no-repeat right -40px; padding:0 40px; }

.pricing_box p.button:hover {background-position:left -80px;}
.pricing_box p.button a:hover{background-position:right -120px;}

.pricing_box.large { position: relative; z-index: 9; margin-top: 0px; -moz-box-shadow: 0 1px 10px #cbcbcb; -webkit-box-shadow: 0 1px 10px #cbcbcb; box-shadow: 0px 1px 10px #cbcbcb; padding: 0 0 40px 0; border-radius: 5px;}
.pricing_box.large .header { color: #FFFFFF; height: 88px; background: url('../images/price.bg.signup.png') repeat; }
.pricing_box.large .header  span{ top: 30px; }
.pricing_box.large .header  span.info{ top: 14px; color: #576e1f; text-shadow:none; }

/*.pricing_box.large p.button { background-position:left -160px;}
.pricing_box.large p.button a{ background-position:right -200px; color: #303E0E; text-shadow:0 1px 0 #C7DD90;  }
.pricing_box.large p.button:hover { background-position:left -240px;}
.pricing_box.large p.button a:hover{ background-position:right -280px; }*/

p.button { margin: 0 20px 0 0; padding: 0; display: inline-block;}
p.button a{ float: left; line-height:32px; *line-height:28px; margin: 0 -20px 0 0!important; padding: 0 20px; height:100%; border: none; cursor: pointer; color: #3f4950; font-size: 12px; text-shadow: 0 1px 0 #fff; text-decoration:none }
p.button a:hover{text-decoration: none;}

/* members_only */
.well {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
/* clear */
.clear {
    clear: both;
}
/* space */
.space {
    height: 30px;
}
/* border */
.border-line {
    background: none repeat scroll 0 0 #DDDDDD;
    clear: both;
    height: 1px;
    margin: 1.2em 0;
    width: 100%;
}
/* line */
.line {
    border-top: 1px solid #CFCFCF;
}
/* dropcap */
p.dropcap:first-letter {
    display: block;
    float: left;
    font-size: 40px;
    line-height: 40px;
    margin: 10px 8px 5px 0;
}
blockquote {
    background: url("../images/cite.png") no-repeat scroll left 25px transparent;
    padding: 35px;
}
/* highlight */
span.highlight {
    background-color: #EB9A0B;
    color: #FFFFFF;
}
/* label */
.twitter_label {
    background-color: #999999;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 13px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
}
.twitter_label:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.twitter_label-red {
    background-color: #B94A48;
}
.twitter_label-red:hover {
    background-color: #953B39;
}
.twitter_label-orange {
    background-color: #F89406;
}
.twitter_label-orange:hover {
    background-color: #C67605;
}
.twitter_label-green {
    background-color: #468847;
}
.twitter_label-green:hover {
    background-color: #356635;
}
.twitter_label-lightblue {
    background-color: #3A87AD;
}
.twitter_label-lightblue:hover {
    background-color: #2D6987;
}
.twitter_label-black {
    background-color: #333333;
}
.twitter_label-black:hover {
    background-color: #1A1A1A;
}
/* strong */
strong {
    font-weight: bold;
}
/* i, em */
i, em {
    font-style: italic;
}
/* image */
.image-styled a.thumb {
    display: block;
    max-width: 100%;
    position: relative;
    width: auto;
}
.image-styled .img_frame {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    padding: 4px;
}
#ie8 .image-styled .img_frame {
    border: 1px solid #cfcfcf;
    padding: 4px;
}
.image-styled .img_frame img {
    display: block;
    max-width: 100%;
    width: auto;
}
.image-styled .img_frame.img_size_fullwidth, .image-styled .img_frame.img_size_fullwidth img {
    display: block;
    height: auto;
    width: auto;
}
a.zoom {
    background: url("../../../images/icons/zoom.png") no-repeat scroll center center #000000;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100;
}
a.video a.zoom {
    background: url("../images/icons/play.png") no-repeat scroll center center #000000;
}     
.images a.zoom {
    background:none;
    position:static;
    height:auto;
    width:auto;
}
.img_size_thumbnail {
	width: 150px;
}
.img_size_medium {
	width: 300px;
}
.img_size_large {
	width: 500px;
	max-width: 500px;
}
/* call */
.call-to-action {
    background: url("../images/gradient-call-to-action.png") repeat-x scroll left top #FFFFFF;
    border: 1px solid #CBC9C9;
    height: 113px;
    position: relative;
    width: 100%;
}
.call-to-action .incipit, .call-to-action .separate-phone, .call-to-action .number-phone {
    float: left;
    height: 100%;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}
.call-to-action .incipit h2 {
    line-height: 38px;
    margin: 24px 0 0;
    padding-top: 0;
}
.call-to-action .incipit p {
    color: #464444;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}
.call-to-action .separate-phone {
    background: url("../images/phone-call-to-action.png") no-repeat scroll left top transparent;
    width: 64px;
}
.call-to-action .number-phone, .call-to-action .number-phone a {
    color: #838383;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 106px;
    margin-left: 10px;
    margin-right: 20px;
    text-shadow: 1px -1px 2px rgba(255, 255, 255, 0.83);
}
.call-to-action .number-phone a {
    line-height: 40px;
    margin-left: 0;
}
.call-to-action .decoration-image {
    background: url("../images/woman.png") no-repeat scroll right bottom transparent;
    bottom: 0;
    height: 120%;
    position: absolute;
    right: 0;
    width: 100%;
}
/* call_two */
.call-to-action-two {
    background: none repeat scroll 0 0 #EBECED;
    border: 1px solid #DDDDDD;
    clear: both;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    display: table;
    width: 97%;
}
.call-to-action-two p {
    color: #555657;
    float: left;
    font-size: 20px !important;
    line-height: 18px;
    width: 75%;
}
.call-to-action-two p, .call-to-action-two h1, .call-to-action-two h2, .call-to-action-two h3, .call-to-action-two h4, .call-to-action-two h5, .call-to-action-two h6 {
    float: left;
    margin: 3px;
    padding: 3px;
    width: 75%;
    line-height: 1.5em;
}
.call-to-action-two .incipit {
    width: 80%;
}
.call-to-action-two .call-btn, .call-to-action-two .incipit {
    display:table-cell;
    vertical-align:middle;
    /*float: right;*/
}
.call-to-action-two .call-btn {
	text-align: right;
	width: 20%;
}
.call-to-action-two .btn{
	/*position: absolute;
	right: 20px;
	margin: auto 0px;
	/*bottom: 20px;*/
}
/* recentpost */
.recent-post {
    margin-top: 20px;
}
.recent-post .hentry-post {
    line-height: 20px;
    margin-bottom: 10px;
    position: relative;
}
.recent-post .hentry-post div.text {
    position: relative;
    margin-left: 70px;
    min-height: 70px;
}
.recent-post .thumb-img {
	position: absolute;
	top: 0;
	left: 0;
    float: left;
    margin-right: 10px;
}
.recent-post .thumb-img img {
    border: 1px solid #CFCFCF;
    float: none;
    padding: 3px !important;
}
.recent-post a {
    font-size: 12px;
    color: #AB5705;
    font-style: normal;
}
.recent-post a:hover {
    text-decoration: none;
    color: #1F1F1F;
}
.recent-post p.post-date {
    font-style: italic;
}
.recent-post p {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
}
.recent-post p, .recent-post small {
    color: #656262;
}
/* social */
a.socials, a.socials-small {
    display: inline-block;
    margin-right: 0;
    text-align: left;
    text-indent: -9999px;
}
a.socials {
    background-position: left bottom !important;
    height: 34px;
    width: 34px;
}
a.socials-small {
    background-position: left bottom !important;
    height: 21px;
    width: 21px;
}
a.socials:hover, a.socials-small:hover {
    background-position: left top !important;
}
a.facebook {
    background: url("../../../images/icons/socials/facebook.png") no-repeat scroll 0 0 transparent;
}
a.rss {
    background: url("../../../images/icons/socials/rss.png") no-repeat scroll 0 0 transparent;
}
a.delicious {
    background: url("../../../images/icons/socials/delicious.png") no-repeat scroll 0 0 transparent;
}
a.flickr {
    background: url("../../../images/icons/socials/flickr.png") no-repeat scroll 0 0 transparent;
}
a.stumble {
    background: url("../../../images/icons/socials/stumble.png") no-repeat scroll 0 0 transparent;
}
a.vimeo {
    background: url("../../../images/icons/socials/vimeo.png") no-repeat scroll 0 0 transparent;
}
a.youtube {
    background: url("../../../images/icons/socials/youtube.png") no-repeat scroll 0 0 transparent;
}
a.twitter {
    background: url("../../../images/icons/socials/twitter.png") no-repeat scroll 0 0 transparent;
}
a.linkedin {
    background: url("../../../images/icons/socials/linkedin.png") no-repeat scroll 0 0 transparent;
}
a.skype {
    background: url("../../../images/icons/socials/skype.png") no-repeat scroll 0 0 transparent;
}
a.lastfm {
    background: url("../../../images/icons/socials/lastfm.png") no-repeat scroll 0 0 transparent;
}
a.myspace {
    background: url("../../../images/icons/socials/myspace.png") no-repeat scroll 0 0 transparent;
}
a.tumblr {
    background: url("../../../images/icons/socials/tumblr.png") no-repeat scroll 0 0 transparent;
}
a.digg {
    background: url("../../../images/icons/socials/digg.png") no-repeat scroll 0 0 transparent;
}
a.quora {
    background: url("../../../images/icons/socials/quora.png") no-repeat scroll 0 0 transparent;
}
a.dribble {
    background: url("../../../images/icons/socials/dribble.png") no-repeat scroll 0 0 transparent;
}
a.forrst {
    background: url("../../../images/icons/socials/forrst.png") no-repeat scroll 0 0 transparent;
}
a.google {
    background: url("../../../images/icons/socials/google.png") no-repeat scroll 0 0 transparent;
}
a.ember {
    background: url("../../../images/icons/socials/ember.png") no-repeat scroll 0 0 transparent;
}
a.pinterest {
    background: url("../../../images/icons/socials/pinterest.png") no-repeat scroll 0 0 transparent;
}
a.bookmark {
    background: url("../../../images/icons/socials/bookmark.png") no-repeat scroll 0 0 transparent;
}
a.facebook-small {
    background: url("../../../images/icons/small-socials/facebook.png") no-repeat scroll 0 0 transparent;
}
a.rss-small {
    background: url("../../../images/icons/small-socials/rss.png") no-repeat scroll 0 0 transparent;
}
a.delicious-small {
    background: url("../../../images/icons/small-socials/delicious.png") no-repeat scroll 0 0 transparent;
}
a.flickr-small {
    background: url("../../../images/icons/small-socials/flickr.png") no-repeat scroll 0 0 transparent;
}
a.stumble-small {
    background: url("../../../images/icons/small-socials/stumble.png") no-repeat scroll 0 0 transparent;
}
a.vimeo-small {
    background: url("../../../images/icons/small-socials/vimeo.png") no-repeat scroll 0 0 transparent;
}
a.youtube-small {
    background: url("../../../images/icons/small-socials/youtube.png") no-repeat scroll 0 0 transparent;
}
a.twitter-small {
    background: url("../../../images/icons/small-socials/twitter.png") no-repeat scroll 0 0 transparent;
}
a.linkedin-small {
    background: url("../../../images/icons/small-socials/linkedin.png") no-repeat scroll 0 0 transparent;
}
a.skype-small {
    background: url("../../../images/icons/small-socials/skype.png") no-repeat scroll 0 0 transparent;
}
a.lastfm-small {
    background: url("../../../images/icons/small-socials/lastfm.png") no-repeat scroll 0 0 transparent;
}
a.myspace-small {
    background: url("../../../images/icons/small-socials/myspace.png") no-repeat scroll 0 0 transparent;
}
a.skype-small {
    background: url("../../../images/icons/small-socials/skype.png") no-repeat scroll 0 0 transparent;
}
a.tumblr-small {
    background: url("../../../images/icons/small-socials/tumblr.png") no-repeat scroll 0 0 transparent;
}
a.digg-small {
    background: url("../../../images/icons/small-socials/digg.png") no-repeat scroll 0 0 transparent;
}
a.quora-small {
    background: url("../../../images/icons/small-socials/quora.png") no-repeat scroll 0 0 transparent;
}
a.dribble-small {
    background: url("../../../images/icons/small-socials/dribble.png") no-repeat scroll 0 0 transparent;
}
a.forrst-small {
    background: url("../../../images/icons/small-socials/forrst.png") no-repeat scroll 0 0 transparent;
}
a.google-small {
    background: url("../../../images/icons/small-socials/google.png") no-repeat scroll 0 0 transparent;
}
a.ember-small {
    background: url("../../../images/icons/small-socials/ember.png") no-repeat scroll 0 0 transparent;
}
a.pinterest-small {
    background: url("../../../images/icons/small-socials/pinterest.png") no-repeat scroll 0 0 transparent;
}
a.bookmark-small {
    background: url("../../../images/icons/small-socials/bookmark.png") no-repeat scroll 0 0 transparent;
}
/* twitter */
ul.tweets-widget {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer ul.tweets-widget li {
    background: url("../images/bird-twitter.png") no-repeat scroll 0 30px transparent;
    border-bottom: 1px solid #ABA9A9;
    border-top: 1px solid #E8E7E7;
    color: inherit;
    line-height: 20px;
    margin: 0;
    min-height: 28px;
    padding: 20px 0 20px 40px !important;
}
ul.tweets-widget li.first {
    border-top: medium none;
}
ul.tweets-widget li.last {
    border-bottom: medium none;
}
ul.tweets-widget li p.meta {
    font-size: inherit;
}
.last-tweets-widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.last-tweets-widget ul li {
    background: url("../images/twitter-bg.png") no-repeat scroll 0 center transparent;
    border-bottom: 1px dotted #CFCFCF;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    padding: 15px 0 15px 40px;
}
/* toggle */
.toggle h4.tab-index {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 10px;
    padding-bottom: 16px;
}
.toggle h4.tab-index a {
    /*background: url("../images/toggle-head.png") no-repeat scroll left top transparent;*/
    color: #3E3E3E;
    cursor: pointer;
    display: block;
    /*font-size: 18px;
    line-height: 22px;*/
    padding: 0 0 0 10px;
    text-decoration: none;
}
.toggle h4.tab-index a span {
	/*font-size: 14px;*/
	vertical-align: middle;
	color: #3E3E3E;
}
.toggle h4.tab-opened a, .toggle h4.tab-index a:hover {
    /*background: url("../images/toggle-head-active.png") no-repeat scroll left top transparent;*/
   /*color: #AC670C;*/
}
.toggle h4.tab-index a:hover {
    text-decoration: none;
}
.toggle .content-tab {
    border-left: 1px solid #CFCFCF;
    margin: 0 0 20px 10px;
}
.toggle .content-tab p {
    margin-top: 0;
    padding: 18px 10px 18px 20px;
}
/* tabs */
.tabs-container ul.tabs {
    background: url("../images/bg-tabs.png") repeat-x scroll center bottom #F9F9F9;
    border: 1px solid #CFCFCF;
    height: 40px;
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
    position: relative;
    z-index: 1;
}
.tabs-container ul.tabs li {
    list-style: none outside none;
}
.tabs-container ul.tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*border-color: -moz-use-text-color #CFCFCF #CFCFCF -moz-use-text-color;*/
    border-color: #CFCFCF;
    border-right: 1px solid #CFCFCF;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    color: #444444;
    display: block;
    float: left;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    padding: 0 3%;
    text-align: center;
}
.tabs-container ul.tabs li a:hover {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #000000;
}
.tabs-container ul.tabs li.current a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: inherit;
}
.tabs-container ul.tabs li:first-child {
}
.tabs-container ul.tabs li:last-child {
    border-right: 1px solid #CFCFCF !important;
}
.tabs-container div.panel {
    padding: 20px 20px 10px;
}
.tabs-container div.panel p {
    margin: 0;
}
.tabs-container div.border-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF !important;
    clear: both;
    left: 0;
    position: relative;
    top: -1px;
    z-index: 0;
}
.tabs-container div.border-box {
    border-bottom-right-radius: 5px;
}
.tabs-container ul.tabs {
    border-top-left-radius: 5px;
}
.tabs-container ul.tabs li:first-child a {
    border-top-left-radius: 5px;
}
.tabs-container ul.tabs h4 {
    clear: none !important;
    margin: 0;
}
/* testimonials */
.testimonial {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 60px;
    margin-top: 20px;
    position: relative;
}
.testimonial .thumbnail {
    background: url("../images/thumb-testimonial.png") no-repeat scroll center center transparent;
    left: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
}
.testimonial .thumbnail img {
    border-radius: 0 0 0 0;
    height: 94px;
    padding: 11px;
    position: relative;
    /*top: 2px;*/
    width: 94px;
    max-width: none;
}
.testimonial .testimonial-text {
    margin-left: 136px;
    min-height: 130px;
}
.testimonial .testimonial-text.testimonial-noimage {
    margin-left: 0;
}
.testimonial .testimonial-text p {
    margin: 6px 0 0;
}
.testimonial .testimonial-name {
    float: right;
    height: 20px;
    text-align: right;
}
.testimonial .testimonial-name .name, .testimonial .testimonial-name .website {
    clear: both;
    display: block;
}
.testimonial .testimonial-name .name {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    font-size: 1.4em;
    margin: 0;
    padding-left: 10px;
}
.testimonial .testimonial-name a.website {
    color: #1C1C1C;
    font-size: 12px;
}
.testimonial-widget blockquote {
    background-position: 0 0;
    padding: 12px 0 0 35px;
}
.testimonial-widget strong {
    color: #000000;
}
/* googlemap */
.google-map-frame {
    border: 1px solid #CFCFCF;
    padding: 3px;
}
.google-map-frame iframe {
    display: block;
   /* width: 100%;*/
}
/* newsletter */
.newsletter-section {
    width: 300px;
    max-width:100%;
}
.one-fourth .newsletter-section, .one-third .newsletter-section {
    width: 100%;
}
.newsletter-section ul {
    margin-left: 0 !important;
}
.newsletter-section li {
    list-style: none outside none;
    margin: 5px 7px;
    position: relative;
}
.newsletter-section label {
    color: #999999;
    display: block;
    font-size: 12px;
    left: 3px;
    line-height: 16px;
    position: absolute;
    top: 12px;
}
.newsletter-section input {
    background-color: #FAF9F9;
    border: 1px solid #BDBEBE;
    height: 32px;
    line-height: 32px;
    margin: 2px 0 2px -7px;
    padding: 0 5px;
    width: 100%;
}
.newsletter-section input.submit-field {
    background: url("../images/input_pattern.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #D5D4D4;
    color: #444444;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    margin: 0 -5px 0 0;
    min-width: 55px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    width: auto;
}

.newsletter-section input.submit-field:hover {
    background: url('../images/input_pattern_hover.png') repeat-x;
}
/* feed_slider */
.feeds-slider {
    margin: 20px 0;
    position: relative;
}
.feeds-slider ul {
    list-style: none outside none !important;
    margin: 0 auto !important;
    width: 80% !important;
}
.feeds-slider ul li {
    width: 100%;
}
.feeds-slider ul li h3 {
    margin: 0;
}
.feeds-slider ul li a {
    color: #030303;
    line-height: 24px;
}
.feeds-slider .prev, .feeds-slider .next {
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    width: 30px;
}
.feeds-slider .prev {
    background: url("../images/icons/prev_button.png") no-repeat scroll 0 0 transparent;
    left: 0;
    text-indent: -100px;
}
.feeds-slider .next {
    background: url("../images/icons/next_button.png") no-repeat scroll 0 0 transparent;
    right: 0;
    text-indent: 100px;
}
.feeds-slider .prev:hover {
    background-position: left bottom;
}
.feeds-slider .next:hover {
    background-position: right bottom;
}
/* contact_info */
.content .contact-info .sidebar-nav ul {
    margin-left: 0px;
}
pre.shortcodes{
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* testimonials_slider */
.testimonials-slider {
    margin: 20px 0;
    position: relative;
}
.testimonials-slider .testimonial-list {
    padding: 30px 0;
    position: relative;
}
.testimonials-slider .top.shadow {
    top: 0;
}
.testimonials-slider .bottom.shadow {
    bottom: -10px;
}
.testimonials-slider ul {
    list-style: none outside none !important;
    margin: 0 auto !important;
    width: 80% !important;
}
.testimonials-slider ul li {
    width: 100%;
}
.testimonials-slider ul li blockquote {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
.testimonials-slider ul li blockquote p {
    color: #030303;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonials-slider ul li p.meta {
    color: #030303;
    font-size: 1.0714em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonials-slider ul li p.meta strong {
    color: #373737;
}
.testimonials-slider ul li a {
    color: #030303;
    line-height: 24px;
}
.testimonials-slider ul li a:hover {
    color: #1C1C1C;
}
.testimonials-slider .prev, .testimonials-slider .next {
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 30px;
}
.testimonials-slider .prev {
    background: url("../images/icons/prev_button.png") no-repeat scroll 0 0 transparent;
    left: 0;
    text-indent: -100px;
}
.testimonials-slider .next {
    background: url("../images/icons/next_button.png") no-repeat scroll 0 0 transparent;
    right: 0;
    text-indent: 100px;
}
.testimonials-slider .prev:hover {
    background-position: left bottom;
}
.testimonials-slider .next:hover {
    background-position: right bottom;
}

/** SECTION BLOG **/
.span9 .section .blog-row .span3:nth-child(3n+1) {
	clear: left;
}

.span12 .section .blog-row .span3:nth-child(4n+1) {
	clear: left;
}

.section.blog .post_first {
	clear: left;
}

.section .title { margin-bottom: 5px; line-height: 20px;}
.section .description { margin-top: 0px; margin-bottom: 5px;}
.section.blog .blog-row { margin-top: 20px; float: left;}
/*.section.portfolio .portfolio-projects {  margin-top: 20px; }*/
.section .services-row { margin-top: 20px;}


#ie8 .section.blog .blog-row .span3 { margin-bottom: 30px }
#ie8 .section.portfolio .work { margin-bottom: 30px }
#ie8 .section .services-row .span2 { margin-bottom: 30px }

.section.blog .post {
   border-left: 5px solid #d18f1d !important;
/*    float: left; */
/*    margin-right: 1%; */
    margin-bottom: 10px;
    padding-left: 10px;
/*    width: 30%; */
}

.section.blog h4.other-articles {
    border-bottom: 1px solid #CFCFCF;
    color: #525050;
    margin-bottom: 27px;
}

.section.blog .blog-row .meta {
	margin-bottom: 20px;
}

.section.blog .meta h4 {
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 2px;
}

.section.blog h4 a { font-size: 15px; }

.section.blog .meta p {
    float: left;
    margin-top: 0px;
    margin-bottom: 2px;
}

.section.blog .meta p, .section.blog .meta p a {
    font-size: 11px;
}

.section.blog .meta .comments:before { content: '\0000a0-\0000a0'; }
.section.blog .sticky .meta .comments:before { content: ''; }

.section.blog .post.sticky {
    border: none !important;
    margin-top: 13px;
	padding: 0px;
}

.section.blog .sticky .thumbnail {
    border: 1px solid #CFCFCF;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
	float: left;
	margin-right: 20px;
}

/*.section.blog .sticky .thumbnail .image-wrap { max-height: 155px; }*/

.section.blog .sticky .meta {
	min-width: 220px;
    background-color: #000;
    background: url('../images/ie_overlay_82.png') repeat; 
    background: rgba( 0,0,0,0.7 );
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 13px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.section.blog .sticky .meta p, .section.blog .sticky .meta h4, .section.blog .sticky .meta h4 a {
    color: #ffffff;
    margin-right: 10px;
    text-align: right;
}

.section.blog .sticky .meta p {
    float: right;
}

#ie8 .section.blog .sticky .meta p {
    float: right;
	width: 46%;
}


.section.blog .sticky .meta p.comments { margin-right: 7px; }

.section.blog .sticky .meta h4 a, .section.blog .meta h4 a { margin-right: 0px; }
.section.blog .sticky .meta h4 { line-height: 26px; margin-bottom: 0px; margin-top: 0px; }
.section.blog .sticky .meta h4 a { font-size: 14px; }
.section.blog .sticky .meta p img { margin-right: 8px; display:inline; }
.section.blog .sticky .meta p a { color: #fc9a00; } 

.sidebar-no .section.blog .sticky .the-content { width: 100%; }
.section.blog .sticky .the-content p:first-child { margin-top: 0px; }

/* section service */

.span9 .section .services-row .span2:nth-child(4n+1) {
	clear: left;
}

.span12 .section .services-row .span3:nth-child(4n+1) {
	clear: left;
}

.section.services .service_first {
	clear: left;
}

.section.services .related_project { height: auto; min-height: 150px; margin-bottom: 30px; }                            
.section.services a.related_title a.zoom { background:#000; }
.section.services .related_img img {
	width: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.section.services .related_img {
	display:block; 
	height:auto;
	overflow:hidden;
	position:relative;
	background-color: #dbdcdc;
	padding: 5px;
	margin: 0 auto;
	max-width: 140px;
	border: 10px solid #ededed;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.section.services .related_project .related_title {
	text-align: center;
}

/* section portfolio */ 

.span9 .section .portfolio-projects .span3:nth-child(3n+1) {
	clear: left;
}

.span12 .section .portfolio-projects .span3:nth-child(4n+1) {
	clear: left;
}

.section.portfolio .thumb-wrapper {
	border: none;
}

.section.portfolio .work {
	margin-bottom: 20px;
}

.section.portfolio .work_first {
	clear: left;
}

/*.section.portfolio .related_project { height: auto; min-height: 150px; margin-bottom: 30px; } */  
.section.portfolio .work-description h2 > a:hover { color: #f29a03}
                    
/*.section.portfolio a.related_title a.zoom { background:#000; }
.section.portfolio .related_img img { width: auto;}
.section.portfolio .related_img { display:block; height:auto; overflow:hidden; position:relative; border: 8px solid #eeeeee; background-color: #cdcfd0; max-width: 100% }
.section.portfolio .related_img:hover {border: 8px solid #f29a03;}*/

.section .portfolio-sticky { margin-bottom: 40px !important;}
.section .portfolio-sticky .work-categories { padding-bottom: 5px; border-bottom: 1px solid #CFCFCF; }
.section .portfolio-sticky .work-description { margin-bottom: 0; }

/*.section .related_project { position: relative }
.section .work-thumbnail { width: auto; } */
.section .portfolio-sticky .work-description h2 { margin-top: 0; }

/*.section.portfolio span.overlay_title {
    bottom: 25%;
    color: white;
    display: block;
    font-size: 16px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}*/

/*.section.portfolio span.overlay_subtitle {
	bottom: 12%;
	color: white;
	font-size: 11px;
	line-height: 15px;
}*/

/*.section.portfolio .work-description {
	margin-bottom: 0px;
}*/

/*.sidebar-no .section.portfolio a.thumb { width: 573px; }
.sidebar-right .section.portfolio a.thumb, .sidebar-left .section.portfolio a.thumb { width: 385px; }
.sidebar-right .section.portfolio .work-description, .sidebar-left .section.portfolio .work-description { width: 48%; }
.sidebar-right .section .related_project, .sidebar-left .section .related_project { margin-right: 3%; }
.sidebar-right .section .related_project_last , .sidebar-left .section .related_project_last { margin-right: 0 }*/
/*.section .work-overlay { position: absolute; bottom: 6px; right: 6px; background: url('../images/ie_overlay_82.png') repeat; background: rgba(0,0,0,0.7); 
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 13px; min-width: 220px; text-align: right; color: #fff; }
.section .work-overlay h3, .section .work-overlay h3 a { color: #fff !important; text-align: right; font-size: 14px; margin: 0 10px 0 0;  }
.section .work-overlay h3 a {margin:0}
.section .work-overlay p { color: white; margin: 5px 10px 0 0; font-size: 11px;  }
.section .work-overlay p a { font-size: 11px; }
.section .work-overlay img { float: none !important; padding-right: 5px; }

.section .related_project .overlay_wrapper  { position:relative; }
.section .related_project .overlay {display:none; background: none repeat scroll 0 0 #000;height:100%;left:0px;overflow: hidden; position: absolute; top:0px; width:100%; opacity: .7; text-align: center;}
.section .related_project .overlay a { display: block; float: left; height: 100%; width: 50%; line-height: 9999px; overflow: hidden; }
.section .related_project .overlay span.overlay_title { position: absolute; bottom: 20%; color: white; text-align: center; display: block; width: 100%; font-size: 16px; line-height: 15px; }

.section .work-overlay p a, .section.blog .sticky .meta p a { color: #fc9a00 }
.section .work-overlay p a:hover, .section.blog .sticky .meta p a:hover { color: #fff }*/

/*.text-image, .testimonial-text { margin-top: 17px; }
.testimonial-text ul, .testimonial-text li { width:100% !important; }*/

/* === IMAGES SLIDER */
.images-slider-sc { position: relative; }
.images-slider-sc .slides > li {display: none; -webkit-backface-visibility: hidden; margin-bottom: 0px; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.images-slider-sc ul li a {
    position: absolute;
    background: transparent url(../images/elastislider_nav.png) no-repeat top left;
    width: 18px;
    height: 18px;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.8;
}

.images-slider-sc ul li a.flex-prev {
    top: 26px;
    left: 6px;
}

.images-slider-sc ul li a.flex-next {
    top: 26px;
    left: 28px;
}