/* Large desktop */
@media (min-width: 1200px) {
    .sidebar .widget > h3, .yit_toggle_menu ul.menu li.dropdown > a { font-size: 12px; }

    .products ul, ul.products { margin-left:-30px; }
    ul.products li.product.grid, ul.products li.product.list { margin-left:30px; }
    .features-tab-wrapper ul.products li.product.grid { margin-left:30px; }
    #primary .slider.alignleft, #primary .slider.revolution-slider.alignleft { margin-right:30px !important; }
    #primary .slider.alignright, #primary .slider.revolution-slider.alignright { margin-left:30px !important; }
    #search_mini, #yith-s { width: 300px; }
    
    div.product .thumbnails { width: 100.4% !important; }
    div.product .thumbnails .caroufredsel_wrapper { width: 100% !important }
    div.product .thumbnails li { margin-right: 30px }
    div.product .thumbnails .yith_magnifier_gallery li { margin-right: 21px }
    div.product .thumbnails #slider-next { right: 5px }

    .visible-1024 { display: none; }
    .hidden-1024 { display: block !important; }
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 1200px) {
    .remove-under-1199 { display: none !important; }
    div.product .images { margin-left: 20px; }
    
    div.product .thumbnails { width: 100.4% !important; margin-top: 13px !important; }
    div.product .thumbnails .caroufredsel_wrapper { width: 100% !important }
    div.product .thumbnails li { margin-right: 13px }
    div.product .thumbnails .yith_magnifier_gallery li { margin-right: 12px }
    div.product .thumbnails #slider-next { right: 5px }
}

@media (min-width: 768px) and (max-width: 1024px) {    
	ul.products li.product.grid.classic .product-actions a.details { margin-bottom: 5px }
	
	.newsletter-call3 .newsletter-submit .submit-field { border-radius: 0 }
	
	.status-publish .button[name="save_address"] { margin-left: 3px }
	
	.newsletter-call3 .newsletter-input input { width:176px; }
	.sc-banner h2 { margin-top:20px; }
	.sc-banner h3 { margin-top:10px; }
	.sc-banner h2, .sc-banner h3 { margin-left:65px; }
}

/* iPad portrait */
@media (min-width: 768px) and (max-width: 979px) {
	#footer .recent-posts .hentry .text p { display:none; } 
	#nav > ul { width: 100%; }
	#nav-sidebar { float: left; border-left: none }
	#nav-sidebar .widget.widget-first { padding-left: 0 }
    #nav .megamenu ul.sub-menu li, #nav .megamenu ul.sub-menu li ul { min-width: 87px !important; }
	#tagline { display:block; margin:0 !important; }
	
	.widget_nav_menu li.columns-2, .widget_nav_menu li.cols-2, .widget_nav_menu li.col2 { float: none }
	
	.newsletter-call3 .newsletter-submit .submit-field { width:150px; }
	.newsletter-call3 .newsletter-input input { width:119px; }

	
	
	.testimonial { overflow: auto; }
	.testimonial .thumbnail {
		float: left;
		width: 100%;
		clear: both;
		position: static;
	}
	
	.testimonial .thumbnail img {
		float: right;
	}
	.testimonial .testimonial-name {
		margin: 0;
		padding-top: 5px;
		float: left;
		width: 100%;
	}
    
    .woocommerce-price { max-width: 50%; }
    .woocommerce-add-to-cart { max-width: 52%; }
    
    div.product .thumbnails { width: 100.3% !important; margin-top: 8px !important; }

    div.product .thumbnails .caroufredsel_wrapper { width: 100.4% !important }
    div.product .thumbnails li { margin-right: 8px }
    div.product .thumbnails #slider-next { right: -1px !important }
}

 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {                                  
    /* === HEADER */           
    #logo { position:relative; z-index:1; margin-top:10px; }
    #topbar { text-align:center; }
    #topbar .widget-first { display:none; } 
    #topbar .widget-last > div { float:none; }
    #textual { margin-bottom: 35px; }
    #page-meta .slogan h2 { font-size:24px !important; margin-bottom:0; }
    #page-meta .slogan h3 { font-size:18px !important; }
    #header-sidebar { text-align:center; }
    #header-sidebar .widget { margin:0 7px; }
    #header-sidebar .login_register { width:100%; margin:0; }
    #header-sidebar .login_register ul li { display:inline-block; vertical-align:top; float:none; margin:0 10px; }
    #topbar .widget_shopping_cart .cart_wrapper { width:250px; }
    #nav-sidebar #search_mini, #nav #nav-sidebar #yith-s { border-right: 0; text-align: center; padding-right: 35px; }
    .yit_wcas_post_type.selectbox, .search_categories.selectbox {
      display: none;
    }
    #nav #nav-sidebar .yith-ajaxsearchform-container form > div {
        position: relative;
        width: 320px;
        margin: 0 auto;
    }
    #topbar .container .wrap { overflow:hidden; }
    #topbar .wrap .left, #topbar .wrap .right { text-align:center; float: none; }
                     
    /* === SLIDER */
    .slider.thumbnails .showcase-content img { width: 96.5% !important; padding:1.5%; }
    .boxed .slider.thumbnails .showcase-thumbnail-restriction { max-width:90%; }
    .slider.thumbnails .showcase-thumbnail-restriction { margin-left:22px; }
    .slider.thumbnails .showcase-thumbnail { margin-right:14px !important; /* deve essere così per il mobile, anche se su pc si vede male */ }
    .slider.thumbnails .showcase-thumbnail-container { margin-top:0; }
    .slider.thumbnails .showcase-thumbnail-button-forward { right:0; }
    .rm_container h2 { display:none; }
    .boxed .slider.revolution-slider { margin-left:0 !important; margin-right:0 !important; }
    .rm_wrapper.with-text .text { margin-bottom:20px; }
    
    .slider.fixed-image { margin:-22px 0 0; }
    
    /* === PORTFOLIO */
    .work-skillsdate { position:static !important; margin-top:20px; }
    .picture_overlay { margin-bottom:20px; display:inline-block; /* serve */ }
    #portfolio.portfolio-slider li { float:left; width:220px; margin-right:20px !important; }
    .boxed #portfolio.detail .slide_detail { padding-left:0 !important; padding-right:0 !important; }
    #portfolio.columns li {clear:both;}
    .portfolio-full-description h3, .portfolio-full-description h3 a { line-height: 1em; }
    .portfolio-full-description .work, .portfolio-full-description .work-description { margin-bottom: 10px; }
    .portfolio-full-description .flex-direction-nav { bottom:31px; }
    ul.filters { margin-left: 0; }
    
    /* === BLOG */
    .blog-small .meta { padding-left:0; }
    .blog-elegant .the-content { margin-top: 20px; }
    .blog-elegant .thumbnail img { max-width: 97%; }
    .blog-small .the-content { margin-left: 0; }
    
    /* === SHORTCODES */
    .box-title { margin-bottom:20px; }  
    .random-numbers { margin-bottom:20px; }
    .testimonial .testimonial-text { margin-bottom:20px; }
    .short-table th.align-left, .short-table td.align-left { text-align: center; }
    .sc-banner { margin-bottom:20px; }
    .features-tab-container .features-tab-content { padding:15px; }
    div.call-three { width:100% !important; }
    
    /* === COMMENTS */
    #respond p { display:inline-block; width:100% !important; max-width:100%; clear:both; }  
    #respond input[type="text"], #respond textarea { width:95% !important; } 
    
    /* === SHOP */                                  
    .products-slider { margin-left: -20px !important; }
    .products-slider-wrapper { margin-left:0; margin-right:0; padding-right:0; padding-left:0; } 
    .products-slider ul.products li { width:210px; }
    .products ul, ul.products { margin-left:0; }
    ul.products li.product .thumbnail-wrapper img { width:100%; -webkit-box-sizing: border-box; box-sizing: border-box; }
    .woocommerce-ordering { float:left; }
    div.product .woocommerce-tabs ul.tabs:before, #content div.product .woocommerce-tabs ul.tabs:before { background: none; }
    #ask-info-wrapper .text-field, #ask-info-wrapper .textarea-field { margin-bottom:0; }
    div.product .woocommerce-tabs ul.tabs li, #content div.product .woocommerce-tabs ul.tabs li { z-index:1; }
    .single-product .woocommerce-message { position: relative; padding-bottom: 56px; }
    .single-product .woocommerce-message a.button { position: absolute; bottom: 12px; }
    .products-slider-wrapper .es-nav { top:0; }
    .products-slider h4 { margin-left: 20px; }

    /* === CART === */
    .quantity.buttons_added .plus, .quantity.buttons_added .minus, #content .quantity.buttons_added .plus, #content .quantity.buttons_added .minus { display:none; }
    table.cart td.actions .coupon, #content table.cart td.actions .coupon { float:right; }
    .cart .button, .cart input.button { margin-bottom:5px; float:right }

    /* */
	#logo { margin-top: 40px }
	#header #logo #logo-img + #tagline { line-height: 1.6em; margin-left: 0 }
	#header-sidebar .widget_shopping_cart .cart_wrapper { width: 245px }
	#menu-menu { display: none }
	
	#nav { margin-bottom: 0 }
	#nav-sidebar { float: none; border: none !important }
	#nav-sidebar .widget.widget-first { padding-left: 0; padding-right: 0; }
	
	#nav-sidebar .widget { width: 100%; padding-left: 0; padding-right: 0; }
	#nav-sidebar div.fade-socials-small {
		width: 22px;
		height: 22px;
		float: none;
		padding: 0px;
		margin: 0;
		display: inline-block;
	}
	
	#nav-sidebar .text-image .text-image {
		float: none;
		margin-top: -2px;
		display: inline-block;
	}
	
	
	
	.slogan h2 { line-height: 1.1em }

	.testimonial blockquote { padding-left: 30px }
	
	div.product .woocommerce_tabs ul.tabs::before, #content div.product .woocommerce_tabs ul.tabs::before { background: transparent; }
	
	table.shop_table { padding: 0 }
	table.shop_table .plus, table.shop_table .minus { display: none }
    table.shop_table .quantity { width: 35px; }
	table.shop_table .quantity input.qty { left: 0; }
	table.shop_table.cart th { font-size: 11px; padding-left: 1px }
	
	.cart_totals { overflow: auto }
	
	#footer [class*="span"] { float: left; margin-bottom: 10px }
    
    div.product .thumbnails { overflow: hidden; margin-top: 4px !important; }
    div.product .thumbnails .caroufredsel_wrapper { width: 100% !important }
    div.product .thumbnails li { margin-right: 5px }
    div.product .thumbnails #slider-next { right: -6px }
    
    div.product .images .thumbnails #slider-prev,
    div.product .images .thumbnails #slider-next { display: block !important; }

    .wp-caption { width: 100% !important; height: auto; padding: 0px !important; }
    .wp-caption img { width: 96%; }

    ul.products li.product.list .product-wrapper a.thumb .image-hover { display:none !important; }

    /* === FAQ === */
    ul.filters.faq { margin-bottom: 14px; margin-left: 0; }
    ul.filters li.filterable-title { float: none; margin-bottom: 0; padding-left:0;  }
    ul.filters li { margin-bottom: 9px; }

    /* === CONTENT === */
    .content blockquote { padding: 35px; }
}

@media (min-width: 526px) and (max-width: 767px) {
    .single-product span.onsale { right: auto; left: 423px; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    #portfolio.portfolio-slider li { width:201px; }
    .slogan h2, .slogan h3 { padding:0 20px; }
    
    /* === CART */
    table.cart .product-thumbnail { display: none; }
    
    /* === CHECKOUT */
    .status-publish form h3#shippingaddress-title, .checkout #shiptobilling { float: none; margin-bottom: 10px; }
    
    /* === SHOP PAGE */
    ul.products li.product.list .product-thumbnail,
    ul.products li.product.list .product-thumbnail .thumbnail-wrapper { margin-left: 0px !important; }
    
    ul.products li.product.list .thumbnail-wrapper, ul.products li.product.list .product-meta { float: none; }
    ul.products li.product.list .product-thumbnail .thumbnail-wrapper { width: 96%; margin-bottom: 20px; }
    div.product div.summary .woocommerce-price-and-add { height:auto; }
    div.product div.summary .woocommerce-price-and-add .button { float: none; margin-top: 0px; margin-bottom:15px; }
    
    /* === REGISTRATION PAGE */
    .col2-set .col-1, .col2-set .col-2 { float: none; width: 100%; padding: 20px 0; }
    
    /* === SHORTCODES */
    .newsletter-call3 { width: 100%; border: none; background: none; display: block; float: none; height: auto; }
    div.call-three { padding-right: 10px; }
    .call-three .text { float: none; width: 100%; }
    .call-three .text p, .call-three .text h1, .call-three .text h2, .call-three .text h3, .call-three .text h4, .call-three .text h5, .call-three .text h6 { float: none; }
    
    .newsletter-call3 .newsletter-icon { border-left: 1px solid #DFDCDC; border-top: 1px solid #DFDCDC; border-bottom: 1px solid #DFDCDC; }
    .newsletter-call3 .newsletter-input { border: 1px solid #DFDCDC; width: 82%; }
    .newsletter-call3 .newsletter-icon, .newsletter-call3 .newsletter-input { margin-bottom: 20px; }
    .newsletter-call3 .newsletter-input input { width: 95%; }
    .newsletter-call3 .newsletter-submit { border:  none; float: none; clear: both; }
    .newsletter-call3 .newsletter-submit .submit-field { display: block; padding: 3px 5px 0px; margin: 5px auto 0px;width: auto; }

    .products-slider ul.products li { width: 440px; }
}
 
/* Portrait phones and down */
@media (max-width: 321px) { 
    #copyright div p:first-child { margin-top: 15px; }
    
    #portfolio.portfolio-slider li { width:260px; }  
    
    .portfolio-slider.thumbnails .showcase-thumbnail { margin-right:15px !important; /* deve essere così per il mobile, anche se su pc si vede male */ }  
    .portfolio-slider.thumbnails .showcase-thumbnail-button-backward, .slider.thumbnails .showcase-thumbnail-button-forward { width:18px; }
    
    ul.products.slides li { margin-left: 20px !important; margin-right: 20px !important; }
    
    .woocommerce_message, .woocommerce_error, .woocommerce_info { line-height: 20px; }
    .woocommerce_message .button, .woocommerce_error .button, .woocommerce_info .button { margin-top: 4px; margin-left: 8px; }

    div.summary .woocommerce-price, div.summary .woocommerce-add-to-cart { float: none; max-width: 100%; }
    div.product div.summary .woocommerce-price-and-add .button { float: none; margin-top: 0px; margin-bottom:15px; }
    
    .products-slider ul.products li { width:280px; }   
    
    /* === CART */
    .shop_table.cart .coupon #coupon_code { width: 127px; }
    
    /* === CHEKOUT */
    table.shop_table tfoot .cart-subtotal th,
    table.shop_table tfoot .shipping th,
    table.shop_table tfoot .total th {
        width: 27%;
    }
    
    .form-row.place-order { margin-top: 20px; }
    #payment #place_order { float: left; }       
    .products-slider li { width:280px; }
    
    /* === SHORTCODES */
    .newsletter-call3 .newsletter-input { width: 73%; }
    .newsletter-call3 .newsletter-input input { width: 93%; }

}

/* box heigth fixing */
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
	ul.woocommerce_error {
		margin-left: 20px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.products ul li.product.grid, ul.products li.product.grid { margin-left:0; }
	.products-slider .products ul li.product.grid, .products-slider ul.products li.product.grid { margin-left:20px; }
}