@media print{
	@page{
		margin: 2cm;
	}

	body{
		background: none !important;
		font-family: Georgia, serif;
		color: black;
	}


	.sidebar-right .main-content,
	.sidebar-left .main-content{
		width: 100%;
	}

	#logo{
		float: none;
		display: inline-block;
	}

	.entry {
		a[href^=http]:after{
			content: " [" attr(href) "] ";
		}
	}

	.tie-row{
		border: 0;
	}

	.main-content{
		border: 0;
		max-width: 75% !important;
		margin: 0 auto !important;
		float: none !important;
	}

	#top-nav,
	.main-menu-wrap,
	.components,
	.sidebar,
	.sidebar:after,
	.main-content:after,
	#footer,
	.slider-area,
	#mobile-menu-icon,
	.post-footer,
	.post-cat:after,
	#post-newsletter,
	.prev-next-post-nav,
	#related-posts,
	#respond,
	.single .tie_video .featured-area,
	figure a:after,
	.post-tags,
	#check-also-box{
		display: none;
	}

	#theme-header{
		box-shadow: none;
	}

	#main-nav.fixed-nav{
		position: static !important;
	}
}
