div.fade-socials{
    width: 33px;
    height: 33px;
    display: inline-block;
    padding: 0px;
    margin: 0;
}
div.fade-socials-small{
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 0px;
    margin: 0;
}
a.fade-socials, a.fade-socials-small {
    display: inline-block;
    margin-right: 0;
    text-align: left;
    text-indent: -9999px;
}
a.fade-socials { width: 33px; height: 33px; }
a.fade-socials-small { width: 22px; height: 22px; }
a.fade-socials-hover, a.fade-socials-small-hover {
    background-position: left top !important;
}

/* === ROUNDED === */
div.fade-socials.bookmark {
    background: url("../../../images/icons/socials/rounded/bookmark.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.facebook {
    background: url("../../../images/icons/socials/rounded/facebook.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.flickr {
    background: url("../../../images/icons/socials/rounded/flickr.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.google {
    background: url("../../../images/icons/socials/rounded/google.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.linkedin {
    background: url("../../../images/icons/socials/rounded/linkedin.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.pinterest {
    background: url("../../../images/icons/socials/rounded/pinterest.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.rss {
    background: url("../../../images/icons/socials/rounded/rss.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.shareit {
    background: url("../../../images/icons/socials/rounded/shareit.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.skype {
    background: url("../../../images/icons/socials/rounded/skype.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.twitter {
    background: url("../../../images/icons/socials/rounded/twitter.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.vkontakte {
    background: url("../../../images/icons/socials/rounded/vkontakte.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.instagram {
    background: url("../../../images/icons/socials/rounded/instagram.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.youtube {
    background: url("../../../images/icons/socials/rounded/youtube.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.mail {
    background: url("../../../images/icons/socials/rounded/mail.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.vimeo {
    background: url("../../../images/icons/socials/rounded/vimeo.png") no-repeat scroll left bottom transparent;
}
div.fade-socials.vine {
    background: url("../../../images/icons/socials/rounded/vine.png") no-repeat scroll left bottom transparent;
}

div.fade-socials-small.bookmark-small {
    background: url("../../../images/icons/small-socials/rounded/bookmark.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.facebook-small {
    background: url("../../../images/icons/small-socials/rounded/facebook.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.flickr-small {
    background: url("../../../images/icons/small-socials/rounded/flickr.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.google-small {
    background: url("../../../images/icons/small-socials/rounded/google.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.linkedin-small {
    background: url("../../../images/icons/small-socials/rounded/linkedin.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.pinterest-small {
    background: url("../../../images/icons/small-socials/rounded/pinterest.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.rss-small {
    background: url("../../../images/icons/small-socials/rounded/rss.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.shareit-small {
    background: url("../../../images/icons/small-socials/rounded/shareit.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.skype-small {
    background: url("../../../images/icons/small-socials/rounded/skype.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.twitter-small {
    background: url("../../../images/icons/small-socials/rounded/twitter.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.vkontakte-small {
    background: url("../../../images/icons/small-socials/rounded/vkontakte.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.instagram-small {
    background: url("../../../images/icons/small-socials/rounded/instagram.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.youtube-small {
    background: url("../../../images/icons/small-socials/rounded/youtube.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.mail-small {
    background: url("../../../images/icons/small-socials/rounded/mail.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.vimeo-small {
    background: url("../../../images/icons/small-socials/rounded/vimeo.png") no-repeat scroll left bottom transparent;
}
div.fade-socials-small.vine-small {
    background: url("../../../images/icons/small-socials/rounded/vine.png") no-repeat scroll left bottom transparent;
}

a.instagram {
    background: url("../../../images/icons/socials/rounded/instagram.png") no-repeat scroll 0 0 transparent;
}
a.instagram-small {
    background: url("../../../images/icons/small-socials/rounded/instagram.png") no-repeat scroll 0 0 transparent;
}
a.youtube {
    background: url("../../../images/icons/socials/rounded/youtube.png") no-repeat scroll 0 0 transparent;
}
a.youtube-small {
    background: url("../../../images/icons/small-socials/rounded/youtube.png") no-repeat scroll 0 0 transparent;
}
a.vkontakte {
    background: url("../../../images/icons/socials/rounded/vkontakte.png") no-repeat scroll 0 0 transparent;
}
a.vkontakte-small {
    background: url("../../../images/icons/small-socials/rounded/vkontakte.png") no-repeat scroll 0 0 transparent;
}
a.mail {
    background: url("../../../images/icons/socials/rounded/mail.png") no-repeat scroll 0 0 transparent;
}
a.mail-small {
    background: url("../../../images/icons/small-socials/rounded/mail.png") no-repeat scroll 0 0 transparent;
}
a.vimeo {
    background: url("../../../images/icons/socials/rounded/vimeo.png") no-repeat scroll 0 0 transparent;
}
a.vimeo-small {
    background: url("../../../images/icons/small-socials/rounded/vimeo.png") no-repeat scroll 0 0 transparent;
}
a.vine {
    background: url("../../../images/icons/socials/rounded/vine.png") no-repeat scroll 0 0 transparent;
}
a.vine-small {
    background: url("../../../images/icons/small-socials/rounded/vine.png") no-repeat scroll 0 0 transparent;
}

/* SOCIALS */
a.social, a.social-small {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: no-repeat bottom center;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

a.social.black-border, a.social-small.black-border, .yith-wcwl-share li a {
    border: 1px solid #c3c2c2;
    margin-right: 4px;
}

a.social:hover, a.social-small:hover, .yith-wcwl-share li a:hover {
    border-color: #716d6d;
    background-position: top center;
}

a.social-small, .yith-wcwl-share li a {
    width: 20px;
    height: 20px;
}

a.social.facebook        { background-image: url("../../../images/icons/socials/default/facebook.png"); }
a.social.bookmark        { background-image: url("../../../images/icons/socials/default/bookmark.png"); }
a.social.flickr          { background-image: url("../../../images/icons/socials/default/flickr.png"); }
a.social.google          { background-image: url("../../../images/icons/socials/default/google.png"); }
a.social.linkedin        { background-image: url("../../../images/icons/socials/default/linkedin.png"); }
a.social.pinterest       { background-image: url("../../../images/icons/socials/default/pinterest.png"); }
a.social.rss             { background-image: url("../../../images/icons/socials/default/rss.png"); }
a.social.shareit         { background-image: url("../../../images/icons/socials/default/shareit.png"); }
a.social.skype           { background-image: url("../../../images/icons/socials/default/skype.png"); }
a.social.twitter         { background-image: url("../../../images/icons/socials/default/twitter.png"); }
a.social.vkontakte       { background-image: url("../../../images/icons/socials/default/vkontakte.png"); }
a.social.instagram       { background-image: url("../../../images/icons/socials/default/instagram.png"); }
a.social.youtube         { background-image: url("../../../images/icons/socials/default/youtube.png");}
a.social.mail            { background-image: url("../../../images/icons/socials/default/mail.png");}
a.social.vimeo           { background-image: url("../../../images/icons/socials/default/vimeo.png");}
a.social.vine            { background-image: url("../../../images/icons/socials/default/vine.png");}

a.social-small.facebook, .yith-wcwl-share li a.facebook  { background-image: url("../../../images/icons/small-socials/default/facebook.png"); }
a.social-small.bookmark  { background-image: url("../../../images/icons/small-socials/default/bookmark.png"); }
a.social-small.flickr    { background-image: url("../../../images/icons/small-socials/default/flickr.png"); }
a.social-small.google, .yith-wcwl-share li a.googleplus    { background-image: url("../../../images/icons/small-socials/default/google.png"); }
a.social-small.linkedin  { background-image: url("../../../images/icons/small-socials/default/linkedin.png"); }
a.social-small.pinterest, .yith-wcwl-share li a.pinterest { background-image: url("../../../images/icons/small-socials/default/pinterest.png"); }
a.social-small.rss       { background-image: url("../../../images/icons/small-socials/default/rss.png"); }
a.social-small.shareit   { background-image: url("../../../images/icons/small-socials/default/shareit.png"); }
a.social-small.skype     { background-image: url("../../../images/icons/small-socials/default/skype.png"); }
a.social-small.twitter, .yith-wcwl-share li a.twitter   { background-image: url("../../../images/icons/small-socials/default/twitter.png"); }
a.social-small.vkontakte { background-image: url("../../../images/icons/small-socials/default/vkontakte.png"); }
a.social-small.instagram { background-image: url("../../../images/icons/small-socials/default/instagram.png"); }
a.social-small.youtube   { background-image: url("../../../images/icons/small-socials/default/youtube.png");}
a.social-small.mail      { background-image: url("../../../images/icons/small-socials/default/mail.png");}
a.social-small.vimeo     { background-image: url("../../../images/icons/small-socials/default/vimeo.png");}
a.social-small.vine      { background-image: url("../../../images/icons/small-socials/default/vine.png");}

/* quote */
blockquote {
	border: none;
}
/* icon list */
ul.the-icons li {
  display: block;
  width: auto;
  height: auto;
  margin: 0px 0px 10px 0;
  line-height: 21px;
  vertical-align: baseline;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
/* testimonials */
.testimonial {
    padding: 12px;
    border: solid 1px #e6e4e4;
}
.testimonial blockquote {
	background: url("../images/small-quote.png") no-repeat scroll 0px 15px transparent;
	margin-bottom: 0px;
	padding: 20px 35px;
}
.testimonial .thumbnail {
	box-shadow: none;
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: auto;
    top: auto;
    padding-right: 0;
    padding-bottom: 0;
}
.testimonial .thumbnail img {
    width: 87px;
    height: 85px;
    padding-right: 0;
    padding-bottom: 0;
}
.testimonial .testimonial-text {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    min-height: 0;
}
.testimonial .testimonial-text p {
    
}
.testimonial .testimonial-name {
	float: none;
    text-align: right;
    margin-right: 85px;    
    padding-top: 45px;
    padding-bottom: 15px;
}
.testimonial .testimonial-name.nothumb {
	float: none;
    text-align: right;
    margin-right: 0px;    
    padding-top: 45px;
    padding-bottom: 15px;
}
.testimonial .testimonial-name p, .testimonial .testimonial-name a {
    line-height: 1.6em;
}
.testimonial .testimonial-name p.name, .testimonial .testimonial-name a.name {
    float:none;
}
.testimonial .testimonial-name a.name:hover, .testimonial .testimonial-name a.website:hover {
    color: #1F1F1F;
}
.testimonial .testimonial-name a.website, .testimonial .testimonial-name span.website {
    float:none;
    line-height: 1.6em;
}
.testimonial-post .wp-post-image {
	
}
.newsletter-section input.submit-field {
    background: #fff;
    border: 1px solid #7d7b7b;
    font-family: 'Noticia Text', serif;
    color: #000;
    height: auto;
    font-size: 12px;
}
.newsletter-section input.submit-field:hover {
    background: #1f1f1f;
    border: 1px solid #1f1f1f;
    color: #fff;
}


/* testimonial_slider */
.testimonials-flexslider  {
	margin: 0 10%;
	position: relative;
}
.testimonials-flexslider p {
	text-align:center;
}
.testimonials-flexslider ul.flex-direction-nav {
	width: 100%;
	height: 39px;
	top: 30%;
	position:absolute;
}
.testimonials-flexslider .flex-direction-nav .flex-prev {
    background: url("../images/prev.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    opacity: 0.8;
    left: 0;
	float:left;
	margin:0px 0px 0px -10%;
	top:0px;
}
.testimonials-flexslider .flex-direction-nav .flex-next {
    background: url("../images/next.png") no-repeat scroll 0 0 transparent;
    background-position: right;
    height: 39px;
    opacity: 0.8;
	right:0px;
    float:right;
	margin:0px -10% 0px 0px;
	top:0px;
}
.testimonials-flexslider ul li blockquote {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
.testimonials-flexslider ul li blockquote p {
    color: #030303;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonials-flexslider ul li p.meta {
    color: #030303;
    font-size: 1.0714em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonials-flexslider ul li p.meta strong {
    color: #373737;
}
.testimonials-flexslider ul li a {
    color: #030303;
    line-height: 24px;
}
.testimonials-flexslider ul li a:hover {
    color: #1C1C1C;
}

/*
.testimonials-slider .prev {
    background: url("../images/prev.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    left: 0;
    text-indent: -100px;
}
.testimonials-slider .next {
    background: url("../images/next.png") no-repeat scroll 0 0 transparent;
    background-position: right;
    height: 39px;
    right: 0;
    text-indent: 100px;
}
*/

/* logos_slider */
.logos-slider.wrapper {
}
.logos-slider .list_carousel {
	background:url('../images/logo-slider-line.png') center bottom no-repeat;
	border-top:1px solid #e0e0e0;
	padding:40px 0px;
}
.logos-slider .list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.logos-slider .list_carousel ul li {
	margin: 0px 40px;
	display: block;
	float: left;
}
.logos-slider .bwWrapper {
	position:relative;
    display:block;
}
.logos-slider a[href='#'] {
	cursor: default
}
.logos-slider .list_carousel li img { filter:gray; }
.logos-slider .list_carousel li img:hover { filter:none; }
.logos-slider .list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.logos-slider .nav {
	width: 40px;
	height: 18px;
	margin: -9px auto 0px auto;
}
.logos-slider .nav .prev {
	width: 18px;
	height: 18px;
	background: url('../images/logo-slider-arrows.png') left center;
	margin-right: 4px;
	float: left;
	display: block;
	cursor: pointer;
}
.logos-slider .nav .next {
	width: 18px;
	height: 18px;
	background: url('../images/logo-slider-arrows.png') right center;
	float: left;
	display: block;
	cursor: pointer;
}

/* feed_slider */
.feeds-slider .prev {
    background: url("../images/prev.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    left: 0;
    text-indent: -100px;
}
.feeds-slider .next {
    background: url("../images/next.png") no-repeat scroll 0 0 transparent;
    background-position: right;
    height: 39px;
    right: 0;
    text-indent: 100px;
}
/* random_numbers */
.random-numbers{
	width: 195px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.random-numbers img {
	float: left;
	width: 52px;
	height: 52px;
}
.random-numbers p {
	margin-top: 0px;
	margin-left: 64px;
	margin-bottom: 14px;
	line-height: 1em;
}
.random-numbers span.number {
	margin-left: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #a2a0a0;
}
/* recent post */
.recent-post p,
.recent-post span,
.recent-post a { font-size: 13px; }

/* box_title */
.box-title {
	margin-bottom: 55px;
}
.box-title h3 {
	text-align: center;
	margin-top: 4px;
}
.box-title .border-line{
	height: 2px;
}

/* banner */
.sc-banner { position: relative; }
.sc-banner a { display: block; width: 100%; height: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0) !important; }
.sc-banner i { font-size: 35px; margin-top: -7px; position: absolute; left: 17px; top: 50%; width: 35px; height: 35px; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear; }
.sc-banner .content { position: absolute; }
.sc-banner h2, .sc-banner h3 { -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; transition: all 300ms linear; }
.sc-banner h2 { font-size: 14px; line-height: 14px; margin: 30px 0px 0px 70px; }
.sc-banner h3 { font-size: 11px; line-height: 11px; margin: 12px 0px 0px 70px; }

@-webkit-keyframes moveFromBottom { from { opacity: 0; -webkit-transform: translateY(200%); } to { opacity: 1; -webkit-transform: translateY(0%); } }
@-moz-keyframes moveFromBottom { from { opacity: 0; -moz-transform: translateY(200%); } to { opacity: 1; -moz-transform: translateY(0%); } }
@-ms-keyframes moveFromBottom { from { opacity: 0; -ms-transform: translateY(200%); } to { opacity: 1; -ms-transform: translateY(0%); } }
@-webkit-keyframes moveFromTop { from { opacity: 0; -webkit-transform: translateY(-200%); } to { opacity: 1; -webkit-transform: translateY(0%); } }
@-moz-keyframes moveFromTop { from { opacity: 0; -moz-transform: translateY(-200%); } to { opacity: 1; -moz-transform: translateY(0%); } }
@-ms-keyframes moveFromTop { from { opacity: 0; -ms-transform: translateY(-200%); } to { opacity: 1; -ms-transform: translateY(0%); } }
@-webkit-keyframes moveFromLeft{ from { -webkit-transform: translateX(-100%); } to { -webkit-transform: translateX(0%); } }
@-moz-keyframes moveFromLeft{ from { -moz-transform: translateX(-100%); } to { -moz-transform: translateX(0%); } }
@-ms-keyframes moveFromLeft{ from { -ms-transform: translateX(-100%); } to { -ms-transform: translateX(0%); } }
@-webkit-keyframes moveFromRight { from { -webkit-transform: translateX(100%); } to { -webkit-transform: translateX(0%); } }
@-moz-keyframes moveFromRight { from { -moz-transform: translateX(100%); } to { -moz-transform: translateX(0%); } }
@-ms-keyframes moveFromRight { from { -ms-transform: translateX(100%); } to { -ms-transform: translateX(0%); } }
@-webkit-keyframes moveFromLeftRotate{ from { -webkit-transform: translateX(-100%) rotate(-90deg); } to { -webkit-transform: translateX(0%) rotate(0deg);} }
@-moz-keyframes moveFromLeftRotate{ from { -moz-transform: translateX(-100%) rotate(-90deg); } to { -moz-transform: translateX(0%) rotate(0deg); } }
@-ms-keyframes moveFromLeftRotate{ from { -ms-transform: translateX(-100%) rotate(-90deg); } to { -ms-transform: translateX(0%) rotate(0deg); } }
@-webkit-keyframes smallToBig{ from { -webkit-transform: scale(0.1); } to { -webkit-transform: scale(1); } }
@-moz-keyframes smallToBig{ from { -moz-transform: scale(0.1); } to { -moz-transform: scale(1); } }
@-ms-keyframes smallToBig{ from { -ms-transform: scale(0.1); } to { -ms-transform: scale(1); } }

/* banner switch text */
.sc-banner { -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
.sc-banner.switch-text:hover i  { font-size: 50px; }
.sc-banner.switch-text:hover h2 { font-size: 11px; }
.sc-banner.switch-text:hover h3 { font-size: 14px; }

/* banner zoom-left */
.sc-banner.zoom-left:hover i { font-size: 50px; opacity: 0.8; }
.sc-banner.zoom-left:hover h2 { -webkit-animation: moveFromTop 300ms ease-in-out; -moz-animation: moveFromTop 300ms ease-in-out; -ms-animation: moveFromTop 300ms ease-in-out; }
.sc-banner.zoom-left:hover h3 { -webkit-animation: moveFromBottom 300ms ease-in-out; -moz-animation: moveFromBottom 300ms ease-in-out; -ms-animation: moveFromBottom 300ms ease-in-out; }

/* banner zoom-icon */
.sc-banner.zoom-icon:hover i { font-size: 120px; opacity: 0.2; -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -ms-transform: rotate(20deg); transform: rotate(20deg); }

/* banner top-entry */
.sc-banner.top-entry:hover i { -webkit-animation: moveFromTop 400ms ease; -moz-animation: moveFromTop 400ms ease; -ms-animation: moveFromTop 400ms ease; }
.sc-banner.top-entry:hover h2 { -webkit-animation: moveFromTop 300ms ease; -moz-animation: moveFromTop 300ms ease; -ms-animation: moveFromTop 300ms ease; }
.sc-banner.top-entry:hover h3 { -webkit-animation: moveFromBottom 500ms ease; -moz-animation: moveFromBottom 500ms ease; -ms-animation: moveFromBottom 500ms ease; }

/* banner left-entry-zoom */
.sc-banner.left-entry-zoom:hover i { font-size: 90px; opacity: 0.1; -webkit-animation: moveFromLeft 400ms ease; -moz-animation: moveFromLeft 400ms ease; -ms-animation: moveFromLeft 400ms ease; }
.sc-banner.left-entry-zoom:hover h2 { -webkit-animation: moveFromLeft 400ms ease; -moz-animation: moveFromLeft 400ms ease; -ms-animation: moveFromLeft 400ms ease; }
.sc-banner.left-entry-zoom:hover h3 { -webkit-animation: moveFromBottom 500ms ease; -moz-animation: moveFromBottom 500ms ease; -ms-animation: moveFromBottom 500ms ease; }

/* banner rotate-zoom */
.sc-banner.rotate-zoom:hover i { font-size: 90px; opacity: 0.2; }
.sc-banner.rotate-zoom:hover h2 { -webkit-animation: moveFromLeftRotate 300ms ease; -moz-animation: moveFromLeftRotate 300ms ease; -ms-animation: moveFromLeftRotate 300ms ease; }
.sc-banner.rotate-zoom:hover h3 { -webkit-animation: moveFromBottom 500ms ease; -moz-animation: moveFromBottom 500ms ease; -ms-animation: moveFromBottom 500ms ease; }

/* banner zoom-box */
.sc-banner.zoom-box:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.sc-banner.zoom-box:hover i { font-size: 90px; opacity: 0.3; }
.sc-banner.zoom-box:hover h2 { -webkit-animation: smallToBig 300ms ease; -moz-animation: smallToBig 300ms ease; -ms-animation: smallToBig 300ms ease; }
.sc-banner.zoom-box:hover h3 { -webkit-animation: moveFromBottom 500ms ease; -moz-animation: moveFromBottom 500ms ease; -ms-animation: moveFromBottom 500ms ease; }

/* banner small-to-big */
.sc-banner.small-to-big:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.sc-banner.small-to-big:hover i { font-size: 90px; opacity: 0.3; -webkit-animation: smallToBig 900ms alternate infinite ease; -moz-animation: smallToBig 900ms alternate infinite ease; -ms-animation: smallToBig 900ms alternate infinite ease; }
.sc-banner.small-to-big:hover h2 { -webkit-animation: smallToBig 300ms ease; -moz-animation: smallToBig 300ms ease; -ms-animation: smallToBig 300ms ease; }
.sc-banner.small-to-big:hover h3 { -webkit-animation: moveFromBottom 500ms ease; -moz-animation: moveFromBottom 500ms ease; -ms-animation: moveFromBottom 500ms ease; }

/* banner grey */
.sc-banner.grey { background: #fff; border: 1px solid #d0cece; }
.sc-banner.grey i { color: #7d8287; }
.sc-banner.grey h2 { color: #000; }
.sc-bannera.grey h3 { color: #666464; }

/* banner orange */
.sc-banner.orange { background: #fff; border: 1px solid #eccba8; }
.sc-banner.orange i { color: #000; }
.sc-banner.orange h2 { color: #bd6910; }
.sc-bannera.orange h3 { color: #393939; }

/* credit_card */
.credit_card {
	width: 32px;
	height: 32px;
	background: url('../images/creditcard.png') no-repeat;
	display: inline-block;
	margin-left: 1px;
}
#copyright .credit_card{
	margin-bottom: -13px;
}
.credit_card.amazon {background-position:0px -32px;}
.credit_card.amex {background-position: -32px -32px;}
.credit_card.amex_alt {background-position: -64px -32px;}
.credit_card.amex_gold {background-position: -96px -32px;}
.credit_card.amex_green {background-position:-128px -32px;}
.credit_card.amex_silver {background-position:-160px -32px;}
.credit_card.apple {background-position:-192px -32px;}
.credit_card.bank {background-position:-224px -32px;}
.credit_card.cash {background-position:-256px -32px;}
.credit_card.chase {background-position:-288px -32px;}
.credit_card.coupon {background-position:-320px -32px;}
.credit_card.credit {background-position:-352px -32px;}
.credit_card.debit {background-position:-384px -32px;}
.credit_card.discover {background-position:-416px -32px;}
.credit_card.discover_alt {background-position:-448px -32px;}
.credit_card.discover_novus {background-position:-480px -32px;}
.credit_card.echeck {background-position:-512px -32px;}
.credit_card.generic_1 {background-position:-544px -32px;}
.credit_card.generic_2 {background-position:-576px -32px;}
.credit_card.generic_3 {background-position:-608px -32px;}
.credit_card.gift {background-position:-640px -32px;}
.credit_card.gift_alt {background-position:-672px -32px;}
.credit_card.gold {background-position:-704px -32px;}
.credit_card.googleckout {background-position:-736px -32px;}
.credit_card.itunes {background-position:-768px -32px;}
.credit_card.itunes_2 {background-position:-800px -32px;}
.credit_card.itunes_3 {background-position:-832px -32px;}
.credit_card.mastercard {background-position:-864px -32px;}
.credit_card.mastercard_alt {background-position:-896px -32px;}
.credit_card.mileage {background-position:-928px -32px;}
.credit_card.paypal {background-position:-960px -32px;}
.credit_card.sapphire {background-position:-992px -32px;}
.credit_card.solo {background-position:-1024px -32px;}
.credit_card.visa {background-position:-1056px -32px;}
.credit_card.visa_alt {background-position:-1088px -32px;}

.credit_card.amazon:hover {background-position:0px 0px;}
.credit_card.amex:hover {background-position: -32px 0px;}
.credit_card.amex_alt:hover {background-position: -64px 0px;}
.credit_card.amex_gold:hover {background-position: -96px 0px;}
.credit_card.amex_green:hover {background-position:-128px 0px;}
.credit_card.amex_silver:hover {background-position:-160px 0px;}
.credit_card.apple:hover {background-position:-192px 0px;}
.credit_card.bank:hover {background-position:-224px 0px;}
.credit_card.cash:hover {background-position:-256px 0px;}
.credit_card.chase:hover {background-position:-288px 0px;}
.credit_card.coupon:hover {background-position:-320px 0px;}
.credit_card.credit:hover {background-position:-352px 0px;}
.credit_card.debit:hover {background-position:-384px 0px;}
.credit_card.discover:hover {background-position:-416px 0px;}
.credit_card.discover_alt:hover {background-position:-448px 0px;}
.credit_card.discover_novus:hover {background-position:-480px 0px;}
.credit_card.echeck:hover {background-position:-512px 0px;}
.credit_card.generic_1:hover {background-position:-544px 0px;}
.credit_card.generic_2:hover {background-position:-576px 0px;}
.credit_card.generic_3:hover {background-position:-608px 0px;}
.credit_card.gift:hover {background-position:-640px 0px;}
.credit_card.gift_alt:hover {background-position:-672px 0px;}
.credit_card.gold:hover {background-position:-704px 0px;}
.credit_card.googleckout:hover {background-position:-736px 0px;}
.credit_card.itunes:hover {background-position:-768px 0px;}
.credit_card.itunes_2:hover {background-position:-800px 0px;}
.credit_card.itunes_3:hover {background-position:-832px 0px;}
.credit_card.mastercard:hover {background-position:-864px 0px;}
.credit_card.mastercard_alt:hover {background-position:-896px 0px;}
.credit_card.mileage:hover {background-position:-928px 0px;}
.credit_card.paypal:hover {background-position:-960px 0px;}
.credit_card.sapphire:hover {background-position:-992px 0px;}
.credit_card.solo:hover {background-position:-1024px 0px;}
.credit_card.visa:hover {background-position:-1056px 0px;}
.credit_card.visa_alt:hover {background-position:-1088px 0px;}

/* twitter */
.last-tweets-widget ul li {
	padding: 10px 0 10px 40px;
}
/* call */
.call-to-action .number-phone, .call-to-action .number-phone a {
	letter-spacing: 0px;
}
/* call_two */
.call-to-action-two{
	background-color: #F8F7F7;
}
.chrome .call-to-action-two{
	width: auto;
}

.call-to-action-two .call-btn, .call-to-action-two .incipit {
    vertical-align: top;
}

/* call_three */
div.call-three{
	width: 96%;
	border: 2px solid #f2f0f0;
	border-left: 6px solid #f2f0f0;
	background-color: #f8f7f7;
	clear: both;
	position: relative;
	margin-bottom: 20px;
    display: table;
    padding: 30px 35px 30px 10px;
}
.chrome div.call-three{
	width: auto;
}
.safari div.call-three{
	width: auto;
}
.call-three .text {
	float: left;
	width: 50%;
}
.call-three .text p, .call-three .text h1, .call-three .text h2, .call-three .text h3, .call-three .text h4, .call-three .text h5, .call-three .text h6 {
    float: left;
    margin: 3px;
    padding: 3px;
    line-height: 1.0em;
}
.newsletter-call3 form {
	border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}
.newsletter-call3 {
	display:table-cell;
    vertical-align:middle;
	float: right;
	height: 46px; 
	border: 1px solid #dfdcdc;
	background-color: #ffffff;
}
.newsletter-call3 .newsletter-icon {
	width: 48px;
	height: 46px;
	float: left;
	border: none;
	background: url('../images/newsletter.png') center no-repeat #ffffff;
}
.newsletter-call3 .newsletter-icon label{
	width: 48px;
	height: 46px;
	position: static;
}
.newsletter-call3 .newsletter-input {
	height: 46px;
	float: left;
	border-left: 1px solid #dfdcdc;
}
.newsletter-call3 .newsletter-input input {
	border: none;
	box-shadow: none;
	height: 36px;
	border-radius: 0px;
	margin: 1px;
	width: 221px;
}
/*.safari .newsletter-call3 .newsletter-input input{
	padding-top: 15px;
	height: 26px;
}*/
.newsletter-call3 .newsletter-input input:focus {
	box-shadow: none !important;
}
.newsletter-call3 .newsletter-submit {
	float: right;
	height: 46px;
	border-left: 1px solid #dfdcdc;
}
.newsletter-call3 .newsletter-submit .submit-field{
	height: 47px;
	width: 200px;
	border: none;
	background-image: none;
	background-color: #dfdddd;
	padding: 3px 0px 0px;
	margin: 0px;
	line-height: 16px;
}
.newsletter-call3 .newsletter-submit .submit-field:hover{
	background-color: #c4c4c4;
}
#ie8 .newsletter-input input{
	padding-top: 15px;
	height: 26px;
}
/* logo */
span.logo{}

/* slider_shop 
.products-slider h4{
	padding-bottom: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dfdcdc;
}
.products-slider {
	position: relative;
	margin-left: 0px;
}
.products-slider ul.slides.products li:first-child{
	margin-left: 0px;
}
.products-slider-wrapper {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
}
.products-slider {
    margin-right: -5px;
    padding-right: 5px;
}
.products-slider .flex-direction-nav {
	right: 0px;
}
.products-slider .flex-direction-nav a{
	background: url("../../../images/slider-arrow-testimonial.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    opacity: 1;
    position: absolute;
    top: 28px;
    width: 6px;
}
.products-slider .flex-direction-nav .flex-prev{
	background-position: left top;
    right: 15px;
    left: auto;
}
.products-slider .flex-direction-nav .flex-next{
	background-position: right top;
    right: 0;
}
*/                      
/* with elastislide */   


.products-slider h4 { border-bottom: 1px solid #DFDCDC;margin-bottom: 20px;margin-top: 20px;padding-bottom: 14px;}
.products-slider ul.products li.first {clear: none !important;}
.products-slider ul.products li img {width: 100%;-webkit-box-sizing: border-box;box-sizing: border-box;}
.products-slider-wrapper {overflow: hidden;}

.products-slider-wrapper {
    padding-top: 8px;
    position: relative;
}


@media (max-width: 767px) { 
	.products-slider {margin-left: -20px !important; position:relative;}
	.products-slider ul.products li {width:100%; margin-right: 0px !important;}
}
.products-slider-wrapper .es-nav {
	width: 49px;
    height: 46px;
	right: 0px;
    position: absolute;
}
.products-slider-wrapper .es-nav span {
    display:block;
    width: 23px;
    height: 23px;
    background: url("../../../images/icons/products-slider-arrows.png") no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.products-slider-wrapper span.es-nav-prev {
    background-position: top left;
    float: left;
}
.products-slider-wrapper span.es-nav-next {
    background-position: top right;
    float: right;
}
.products-slider-wrapper span.es-nav-prev:hover {
    background-position: bottom left;
}
.products-slider-wrapper span.es-nav-next:hover {
    background-position: bottom right;
}

/* with elastislide end */


/* box section */
.box-sections h3, .box-sections h3 span {
    color: #51595D;
    font-size: 17px;
}

/* newsletter-form */
.newsletter-section form {
	border-radius: 0px;
	box-shadow: none;
	padding: 0px;
	border: none;
}

/* toggle */
.toggle .content-tab{ margin-left: 0px; }

/* product_categories */
.show-category .product-thumbnail .thumbnail-wrapper h3 mark, .categories ul.slides.products .product-thumbnail .thumbnail-wrapper h3 mark {display: none;}

.show-category.transparent .product-thumbnail .thumbnail-wrapper h3 {
	position: absolute;
	width: 60%;
	text-align: center;
	bottom: 5px;
	left: 50%;
	margin-left: -35%;
	font-size: 16px;
	background-color: rgba(255,255,255,0.8);
	padding: 10px 5%;
}

.show-category.transparent ul.products li.product.grid.with-hover .product-thumbnail:hover h3 {
	bottom: 5px;
	right: 30px;
}

.show-category ul.products li.product.grid h3, .categories ul.slides.products .product-thumbnail .thumbnail-wrapper h3 {
	font-size: 14px;
	margin-top: 7px;
}
#ie8 .recent-comments .avatar img{
	max-width: auto !important;
	width: auto;
}

#ie8 .testimonial-page .testimonial-name p.name{
	margin-top: 0px;
}

#ie8 #respond .comment-form-comment.span9 textarea{
	width: 98%;
	max-width: auto;
}

/* product slider */
.products-slider .flex-viewport { /*margin-left: 30px;*/ margin-right: 0px; padding: 0px; }
.products-slider-wrapper .es-nav { top: 30px; }
.products-slider ul { list-style: none !important; }

/* rating */
.star-rating.shortcode { float: none; }

/* add to cart */
.sc_addcart form.cart {
	border:none;
	box-shadow:none;
	padding:0;
}

/* ===== SITEMAP ===== */
.sitemap h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0dfdf;
    color: #b0731f;
    margin-bottom: 30px;
}

.sitemap div.first {
    clear:both;
}

/* BUTTON PRICE BOX */
.pricing_box p.button { background-color: transparent !important; }


/* toggle */
.toggle {
    width: 100%;
    color: #4f4e4e;
    border: 1px solid #bfbebe;
    margin-bottom: 10px;
}
.toggle h4.tab-index {
    margin-bottom: 0px;
    margin-top: 4px;
    cursor: pointer;
    min-height: 26px;
    color: #696464;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    background: #fff;
    border-bottom: none;
}
.toggle h4.tab-index a {
    margin: 0px;
    padding-left: 11px;
    font-size: 13px;
    line-height: 23px;
}
.toggle h4.tab-index a span {
    width: 9px;
    height: 8px;
    float: right;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    display: inline;
    margin-top: 7px;
}
.toggle h4.tab-index a span:before {
    content:"";
}
.toggle h4.tab-index a span.icon-plus-sign { background: transparent url('../../../images/faq-opened.png') no-repeat; }
.toggle h4.tab-index a span.icon-minus-sign { background: transparent url('../../../images/faq-closed.png') no-repeat; }
.toggle h4.tab-opened a {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    padding-bottom: 4px;
}
.toggle h4.tab-index a:hover {
    text-decoration: none;
}
.toggle .content-tab {
    display: none;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    border: none;
}
.toggle .content-tab.opened {
    display: block;
}
.toggle .content-tab.closed {
    display: none;
}
.toggle .content-tab p {
    background: transparent url('../../../images/faq-quote.png') 25px 5px no-repeat;
    padding-left: 49px;
    padding-bottom: 2px;
}